<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Accounts</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <style>
        table {
            border-collapse: collapse;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table, th, td {
            border: 1px solid black;
            text-align: center;
        }

        .king {
            color: gold;
        }
        .notking {
            color: black;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
            <th>Is he a king?</th>
            <th>Bad or Good guy?</th>
        </tr>
        <tr th:each="bankAccount : ${bankAccounts}">
            <td th:text="${bankAccountStat.index}"></td>
            <td th:class="${bankAccount.isKing()} ? king : notking" th:text="${bankAccount.getName()}"></td>
            <td th:text="${bankAccount.getBalance()}"></td>
            <td th:text="${bankAccount.getAnimalType()}"></td>
            <td th:text="${bankAccount.isKing()}"></td>
            <td th:text="${bankAccount.isGood()} ? 'Good Guy' : 'Bad Guy'"></td>
        </tr>
    </table>
</body>
</html>