<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Programmer Fox Club</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
    <ul>
        <li><a href="#">Information</a></li>
    </ul>
    <img src="greenfox.png"/>
    <p th:text="'This is ' + ${fox} + '. Currently living on pizza and lemonade. He knows ' + ${numberOfTricks} + ' tricks.'"></p>
    <h1>Known tricks</h1>
    <ul>
        <li>write HTML</li>
        <li>code is Java</li>
    </ul>
</body>
</html>