<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Todo</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
    <h1 th:text="'Edit Todo'"></h1>
    <form action="#" th:action="@{edit}" th:object="${todo}" method="post">
        <label for="todo">Todo Description</label>
        <input type="text" id="todo" th:value="*{title}" name="title"/>
        <br>
        <p>Urgent: <input type="checkbox" name="urgent" th:checked="*{urgent}"></p>
        <p>Done: <input type="checkbox" name="done" th:checked="*{done}"></p>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>